[Unit]
Description=Nebula Local Redis
# When systemd stops or restarts nebula core, the action is propagated to this unit
PartOf=nebula.core.service
# Start this unit after nebula start
After=nebula.core.service

[Service]
User=root
# Read Environment File for nebula-redis
EnvironmentFile=/opt/nebula/etc/nebula-redis.env
# Run Core Redis - use nebula-redis.env
ExecStart=/usr/bin/docker run --env-file /opt/nebula/etc/nebula-redis.env --name nebula-redis --rm redis/redis-stack-server:latest
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure

[Install]
# This unit should start when nebula is starting
WantedBy=nebula.core.service