[Unit]
Description=Nebula Local Redis
# When systemd stops or restarts nebula core, the action is propagated to this unit
PartOf=nebula.core.service
# Start this unit after nebula start
After=nebula.core.service

[Service]
User=root
# Start docker compose for redis
ExecStart=/usr/bin/docker-compose -f /opt/nebula/docker-compose.yml --env-file /opt/nebula/core/redis/nebula-redis.env up -d
# Stop docker compose for redis
ExecStop=/usr/bin/docker-compose -f /opt/nebula/docker-compose.yml down --volumes --remove-orphans
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure

[Install]
# This unit should start when nebula is starting
WantedBy=nebula.core.service